<launch>

  <!-- DJI SDK -->
  <include file="$(find dji_sdk)/launch/sdk_manifold.launch"/>

  <!-- Absolute quaternion transform publisher in Lab-->
  <!--include file="$(find dji_att_quat_to_transform)/launch/att_quat_to_transform_lab.launch"/-->

  <!-- M100 Gimbal publisher -->
  <include file="$(find dji_gimbal)/launch/gimbal_m100.launch"/>

  <!--include file="$(find dji_launchers)/launch/map_to_wing_pos00.launch"/-->

</launch>
