<launch>
  <!-- Gimbal state publisher for M600, SDK does publish with respect to NED-->
  <include file="$(find dji_gimbal)/launch/gimbal_joints_publisher.launch">
    <arg name="gimbal_ref_frame" value="ned"/>
    <arg name="baselink_frame_id" value="/DJI/base_link"/>
    <arg name="gimbal_urdf_file" value="$(find dji_gimbal)/urdf/zenmuse_x3_gimbal.urdf"/>
  </include>
</launch>
