<launch>

  <group ns="dji_sdk">
    <node name="gimbal_joints_publisher" pkg="dji_gimbal" type="gimbal_joints_publisher.py" respawn="true" output="screen">
      <param name="baselink_frame_id" type="string" value="/DJI/base_link" />
      <param name="gimbal_ref_frame" type="string" value="ned_without_yaw" />
    </node>

    <param name="gimbal/robot_description" textfile="$(find dji_gimbal)/urdf/ronin_mx_gimbal.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="gimbal_state_publisher" >
      <param name="tf_prefix" type="string" value="DJI"/>
      <param name="use_tf_static" type="bool" value="true"/>
      <param name="publish_frequency" type="double" value="400"/>
      <remap from="joint_states" to="gimbal_joint_states" />
      <remap from="robot_description" to="gimbal/robot_description"/>
    </node>
  </group>
</launch>

