<launch>
  <!-- Gimbal state publisher for M600, SDK does NOT publish with respect to North for M600-->
  <include file="$(find dji_gimbal)/launch/gimbal_joints_publisher.launch">
    <arg name="subtract_orientation" value="false"/>
    <arg name="baselink_frame_id" value="/DJI/base_link"/>
    <arg name="gimbal_urdf_file" value="$(find dji_gimbal)/urdf/ronin_mx_gimbal.urdf"/>
  </include>
</launch>